services:
  # Backend Service (Dockerized)
  - type: web
    name: vakyaai-backend
    env: docker
    dockerContext: backend
    dockerfilePath: Dockerfile
    plan: free
    region: ohio
    envVars:
      - key: GEMINI_API_KEY
        sync: false
      - key: MONGO_URI
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: FRONTEND_URL
        sync: false
